body {
    background-color: #483D8B;
    color: #FFF8DC;
    font-size: 1.1em;
    font-family: 'Chalkboard', sans-serif;
}
.note{
  width: 600px;
  margin: 20px auto 0;
}

.element {   
  background-color: #c0392b;
  color: white;
  width: 500px; 
  height: 500px;
  margin: 30px auto;
  text-align: justify;
  transition: all 3s ease;

  shape-inside: circle(210px at 250px 250px);
  -webkit-clip-path: circle(210px at 250px 250px);
   

   shape-inside: circle(250px, 250px, 210px);
  -webkit-clip-path: circle(250px, 250px, 210px);
  
  shape-padding: 15px;
} 
.element:hover{ 
   -webkit-animation: scale 3s ease infinite;
} 
.element:hover .extra {
  -webkit-animation: show 3s ease infinite;
}

@-webkit-keyframes scale {
  0% {
    shape-inside: circle(250px, 250px, 210px);
    -webkit-clip-path: circle(250px, 250px, 210px);
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
  50% {
    shape-inside: circle(250px, 250px, 250px);
    -webkit-clip-path: circle(250px, 250px, 250px);
    shape-inside: circle(250px at 250px 250px);
    -webkit-clip-path: circle(250px at 250px 250px);
  }
  100% {
    shape-inside: circle(250px, 250px, 210px);
    -webkit-clip-path: circle(250px, 250px, 210px);
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
 }
@keyframes scale {
  0% {
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
  50% {
    shape-inside: circle(250px at 250px 250px);
    -webkit-clip-path: circle(250px at 250px 250px);
  }
  100% {
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
* {
	border: 1px dashed hotpink;
}

div {
	height: 60px;
	width: 110px;
	border: 2px solid grey;
	border-radius: 5px;
	display:block;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-left: 5px;

	
}


#one {
	background-color: #FFB6C1;
	
}

#two {
	background-color: #ADD8E6;
	padding:20px;
	margin-left: 160px;
}

#three {
	background-color: #FAFAD2;
	margin-left: 40px;
	border: 3px solid grey;
}

#four {
	background-color: #66CDAA;
	padding:20px;
	margin-left: 230px;
	border: 4px solid grey;
}

#five {
	height: 80px;
	width: 200px;
	background-color: #FFA07A;
	padding:30px;
	margin-left: 295px;
	border: 6px solid grey;

}


.note{
  width: 600px;
  margin: 20px auto 0;
}

.element {   
  background-color: #DC143C;
  color: white;
  width: 500px; 
  height: 500px;
  margin: 30px auto;
  text-align: justify;
  transition: all 3s ease;
  float:left;

  shape-inside: circle(210px at 250px 250px);
  -webkit-clip-path: circle(210px at 250px 250px);
   

   shape-inside: circle(250px, 250px, 210px);
  -webkit-clip-path: circle(250px, 250px, 210px);
  
  shape-padding: 15px;
} 
.element:hover{ 
   -webkit-animation: scale 3s ease infinite;
} 
.element:hover .extra {
  -webkit-animation: show 3s ease infinite;
}

@-webkit-keyframes scale {
  0% {
    shape-inside: circle(250px, 250px, 210px);
    -webkit-clip-path: circle(250px, 250px, 210px);
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
  50% {
    shape-inside: circle(250px, 250px, 250px);
    -webkit-clip-path: circle(250px, 250px, 250px);
    shape-inside: circle(250px at 250px 250px);
    -webkit-clip-path: circle(250px at 250px 250px);
  }
  100% {
    shape-inside: circle(250px, 250px, 210px);
    -webkit-clip-path: circle(250px, 250px, 210px);
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
 }
@keyframes scale {
  0% {
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
  50% {
    shape-inside: circle(250px at 250px 250px);
    -webkit-clip-path: circle(250px at 250px 250px);
  }
  100% {
    shape-inside: circle(210px at 250px 250px);
    -webkit-clip-path: circle(210px at 250px 250px);
  }
* {
	border: 1px dashed hotpink;
}

div {
	height: 60px;
	width: 110px;
	border: 2px solid grey;
	border-radius: 5px;
	display:block;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-left: 5px;

