* {
   border: 1.6px dashed lightblue;
}

body {
    background-color: #F5F5F5; 
    color: #555;
    font-size: 1.1em;
    font-family: 'Gillsans', sans-serif;
}
p {
  width: 600px;
  margin: 30px auto;
}
.element {   
  background-color: #16a085;
  color: white;
  width: 500px; 
  height: 300px;
  margin: 30px auto;
  text-align: justify;
  shape-inside: polygon(0 0,  500px 0, 350px 300px, 150px 300px);
  shape-padding: 20px;
  transition: all 2s ease; 
  -webkit-clip-path: polygon(0 0,  500px 0, 350px 300px, 150px 300px);
} 
.element:hover {
  shape-inside: polygon(150px 0, 350px 0, 500px 300px, 0px 300px);
  -webkit-clip-path:  polygon(150px 0, 350px 0, 500px 300px, 0px 300px);

} 


div {
	display: inline-block;
	height: 50px;
	width: 235px;
	border: 3px solid lightblue;
	border-radius: 5px;
	background-color: #FFE4B5;
	float:left;	
}
.circle2 {
   width: 50px;
   height: 50px;
   background: lightpink;
   border-radius: 50px;
   border-radius: 50px;
   border-radius: 50px;
   margin-left: 30px;


}     
.circle3 {
   width: 50px;
   height: 50px;
   background: lightyellow;
   border-radius: 50px;
   border-radius: 50px;
   border-radius: 50px;
   float:left;
   margin-left: 500px;

}     

.solidcircle {
   width: 250px;
   height: 250px;
   background: none;
   border-radius: 200px;
   border-radius: 200px;
   border-radius: 200px;
   border: 9px solid lightblue;
   margin-left: 70px;

}     


.hollowsquare {
   width: 150px;
   height: 150px;
   background: none;
   float:right;	
   margin-right: 800px;
   border: 5px solid hotpink;

}

.square {
   width: 50px;
   height: 50px;
   background: none;
   float:right;	
   margin-right: 10px;
   border: 7px solid teal;
}

.circle {
   width: 250px;
   height: 250px;
   background: #C71585;
   border-radius: 200px;
   border-radius: 200px;
   border-radius: 200px;
   border: 3px solid purple;
   float:right;

}     
	

#one {
	background-color: #FFE4B5;
	width: 60px;	
	height: 60px;	
	float:right;		
	margin-right: 400px;	
   border:none;
	
	
}

#two {
	height:250px;
	width: 100px;
	background-color: #48D1CC;
	padding:40px;
	margin-right: 570px;
	border: 3px solid lightpink;
	float:right;	
}
