

div {

	height: 50px;
	width: 235px;
	border: 3px solid lightblue;
	border-radius: 5px;
	background-color: #FFE4B5;
	float:left;	
	border-radius: 5px;
}

	.solidcircle {
   width: 250px;
   height: 250px;
   background: none;
   border-radius: 200px;
   border-radius: 200px;
   border-radius: 200px;
   border: 9px solid lightblue;
   margin-left: 50px;


}

#one {
	background-color: #FFB6C1;
	
}

#two {
	height:250px;
	width: 100px;
	background-color: #48D1CC;
	padding:40px;
	margin-right: 570px;
	border: 3px solid lightpink;
	float:right;	
}

#three {
	height:20px;
	width: 20px;
	background-color: #1E90FF;
	padding:10px;
	margin-right: 570px;
	border: 3px solid pink;
	float:right;	
}

#four {
	height:100px;
	width: 100px;
	background-color: #FF69B4;
	padding:40px;
	margin-right: 20px;
	border: 3px solid pink;
	float:right;	
}

#five {
	height:20px;
	width: 20px;
	background-color: #B0E0E6;
	padding:40px;
	margin-right: 580px;
	border: 10px solid pink;
	float:right;	
}


#inner {
	height: 75px;
	width: 75px;
	background-color: #8B0000;

}

#outer {
	height: 500px;
	width: 200px;
	background-color: #D8BFD8;
	position: absolute;
	margin-left:1000px;
	border: 0px;


.left {
	height: 300px;
	width: 150px;
	background-color: #A7DBD8;
	float: left;
	margin-bottom: 10px;
}

.right {
	height: 300px;
	width: 450px;
	background-color: #FFB6C1;
	float: right;
	margin-bottom: 10px;
}

#footer {
	height: 50px;
	background-color: #ADD8E6;
clear:both;
}

#inner{
    position:fixed;
    margin-left:500px;

    }