
div {
	display: inline-block;
	height: 50px;
	width: 235px;
	border: 3px solid lightblue;
	border-radius: 5px;
	background-color: #FFE4B5;
	float:left;	
}
.circle:hover {
   width: 50px;
   height: 50px;
   background: lightpink;
   border-radius: 50%;
   margin-left: 30px;
}

.demo:hover {
  
  shape-inside: circle(50%, 50%, 50%);
  -webkit-clip-path: circle(50%, 50%, 50%);
  
  shape-inside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
}    
.circle3 {
   width: 50px;
   height: 50px;
   background: lightyellow;
   border-radius: 50px;
   border-radius: 50px;
   border-radius: 50px;
   float:left;
   margin-left: 500px;

}    

 .element {
  shape-inside: polygon(250px 0, 350px 170px, 500px 180px, 380px 320px, 450px 500px, 250px 420px, 50px 500px, 120px 320px, 0px 180px, 150px 170px );
  shape-padding: 10px;
  transition: all 3s ease; 
  -webkit-clip-path: polygon(250px 0, 350px 170px, 500px 180px, 380px 320px, 450px 500px, 250px 420px, 50px 500px, 120px 320px, 0px 180px, 150px 170px );  
}

.solidcircle {
   width: 250px;
   height: 250px;
   background: none;
   border-radius: 200px;
   border-radius: 200px;
   border-radius: 200px;
   border: 9px solid lightblue;
   margin-left: 70px;

}     


.hollowsquare {
   width: 200px;
   height: 200px;
   background: none;
   float:right;	
   margin-right: 500px;
   border: 5px solid lightgreen;

}

.square {
   width: 50px;
   height: 50px;
   background: none;
   float:right;	
   margin-right: 10px;
   border: 7px solid teal;
}

.circle {
   width: 150px;
   height: 150px;
   background: lightpink;
   border-radius: 100px;
   border-radius: 100px;
   border-radius: 100px;

}     
	

#one {
	background-color: #FFE4B5;
	width: 20px;	
	height: 20px;	
	float:right;		
	margin-right: 400px;	
	border: 20px solid purple;
	
}

#two {
	height:250px;
	width: 100px;
	background-color: #48D1CC;
	padding:40px;
	margin-right: 570px;
	border: 3px solid lightpink;
	float:right;	
}
